@import './_variables.scss';

footer {
    font-size: 16px;
    background-color: white;
    a {
        color: $colblue;
        background: $lightyel;
    }
    button {
        width: 200px;
        padding: 0.75rem 0rem;
        border-radius: 50px;
        color: white;
        border: none;
        @media screen and (max-width: 768px) {
            padding: 0.75rem 0.65rem;
            font-size: 14px;
            width: auto;
        }
    }
    button:nth-child(1) {
        margin-right: 1rem;
        background-color: $colblue;
        @media screen and (max-width: 768px) {
            margin-right: 0.5rem;
        }
  }
  button:nth-child(2) {
    background-color: $colyel;
  }
  p:nth-child(2) {
    font-size: 400;
  }
}
