@import './_variables.scss';

#home {
  overflow: hidden;
  background-color: white;
  #hero {
    padding-top: 7rem;
    padding-bottom: 4rem;
    background-image: linear-gradient(to bottom right, #fff6e5, #f5faff);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h2 {
      font-weight: 700;
      font-size: 56px;
      color: #011f3d;
    }
    .in_demand {
      color: $colyel;
    }
    button {
      background-color: #011f3d;
      color: white;
      padding: 1rem 4rem;
      border-radius: 50px;
      color: white;
      margin-right: auto;
      border: none;
    }
    @media screen and (max-width: 768px) {
      padding-top: 6.5rem;
      h2 {
        font-size: 32px;
      }
      .in_demand {
        color: $colblue;
      }
      button {
        margin: auto;
        font-size: 16px;
        padding: 0.75rem 2rem;
        margin: 1.5rem 0;
      }
    }
    &_cards {
      margin: 2.5rem 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;      
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: 100%;
      &::-webkit-scrollbar {
        display: none;
      }
      img:nth-child(2) {
        width: 360px;
        height: 520px;
      }
      .small {
        width: 325px;
        height: 440px;
      }
      @media screen and (max-width: 768px) {
        img.small {
          width: 245px;
          height: 344px;
        }
        img:nth-child(2) {
          width: 260px!important;
          height: 366px!important;
        }
        
      }
    }
    .white_container {
      background-color: white;
      padding: 2rem;
      display: flex;
      flex-direction: row;
      width: 80%;
      justify-content: space-between;
      border-radius: 16px;
      .box {
        background-color: #f5f5f5;
        border-radius: 12px;
        height: 82px;
        width: 22%;
      }
      @media screen and (max-width: 768px) {
        padding: 1rem;
        display: grid;
        grid-gap: 20px; 
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        z-index: 3;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
        .box{
          height: 50px;
          width: 100px;
          z-index: 1;
        }
      }
    }
  }
  #about {
    background-color: #011f3d;
    padding: 2.5rem 0;
    padding-bottom: 3rem;
    color: white;
    header {
      margin-bottom: 1.2rem;
      font-size: 20px;
      color: rgba(255, 255, 255, 0.75);
      font-weight: 700;
    }
    p {
      margin-bottom: 2rem;
      font-size: 44px;
      font-weight: 600;
    }
    .skills {
      h5 {
        margin-top: 3.5rem;
        margin-bottom: 1.2rem;
        font-weight: 700;
      }
      .case {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        word-break: none;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        grid-column-gap: 10px;
        &::-webkit-scrollbar {
          display: none;
        }
        .skill {
          white-space: nowrap;
          margin-right: 2rem;
          margin-bottom: 0.5rem;
        }
        p {
          color: #ffffff80;
        }
        p:nth-child(2) {
          color: $colyel;
        }
      }
    }
    @media screen and (max-width: 768px) {
      header {
        font-size: 16px;
      }
      p {
        font-size: 24px;
      }
    }
  }
  #mission_vision {
    background-color: white;
    padding: 4rem 0;
    h5 {
      color: $colblue;
      font-weight: 800;
      font-size: 20px;
    }
    .vision {
      background-image: url('../public/backgrounds/ourvisong_poly.png');
      background-position: center;
      background-size: cover;
      background-color: #f5faff;
      background-repeat: no-repeat;
    }
    .mission {
      background-image: url('../public/backgrounds/ourmission_poly.png');
      background-position: center;
      background-size: cover;
      background-color: #fff7e6;
      background-repeat: no-repeat;
    }
    .vision,
    .mission {
      padding: 4rem 0;
      border-radius: 12px;
    }
    h2 {
      color: black;
      font-weight: 900;
      margin-bottom: 4rem;
      font-size: 56px;
    }
    p {
      color: #011F3D;
      font-size: 28px;
    }
    @media screen and (max-width: 768px) {
      h2 {
        font-size: 40px;
      }
      p {
        font-size: 20px;
      }
    }
  }
  #core_values {
    background-color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
    h2 {
      color: black;
      font-weight: 800;
      margin: 1.5rem 0;
      font-size: 42px;
      @media screen and (max-width: 768px) {
        font-size: 32px;
      }
    }
    h3 {
      color: black;
      font-weight: 800;
      margin: 2rem 0;
      font-size: 32px;
    }
    h5 {
      color: $colblue;
      font-weight: 900;
      font-size: 20px;
    }
    .blue {
      border: 1.4px dashed $colyel;
      border-radius: 50px;
      width: 72px;
      height: 72px;
      border-spacing: 5em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    p {
      color: black;
    }
    .blue_bg {
      background: $colblue;
      border-radius: 50px;
      margin: 0;
      width: 52px;
      height: 52px;
    }
    .value {
      padding: 1rem 0;
    }
    .value:not(:nth-child(1)) {
      border-left: 1px solid rgb(194, 191, 191);
      @media screen and (min-width: 568px) and (max-width:992px) {
        border-left: none;

      }
      @media screen and (max-width: 568px) {
        border-left: none;
        border-top: 1px solid rgb(194, 191, 191);
      }
    }
    @media screen and (max-width: 1024px) {
      h3 {
        font-size: 24px;
      }
      @media screen and (max-width: 578px) {
        .blue:not(:nth-child(1)) {
          margin-top: 1rem;
        }
      }
    }
  }
  #the_team {
    background-color: #fff6e5;
    padding: 5rem 0;
    h5 {
      color: $colblue;
      font-weight: 900;
      font-size: 20px;
    }
    h2 {
      color: black;
      font-weight: 800;
      font-size: 56px;
      @media screen and (max-width: 768px) {
        font-size: 28px;
      }
    }
    h3 {
      color: black;
      font-weight: 800;
      font-size: 42px;
      @media screen and (max-width: 768px) {
        font-size: 28px;
      }
    }
    
    .teamates {
      margin-top: 2rem;
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      &>span   {
        margin-right: 2rem;
      }
    }
    .buttons {
      button {
        border: 1px solid #ffaa00;
        width: 100px;
        height: 100px;
      }
      @media screen and (max-width: 768px) {
        button {
          width: 80px;
          height: 80px;
        }
      }
    }
    .firsttext,
    .secondtext{
      white-space: nowrap;
    }
    .splines {
      position: relative;
      @media screen and (max-width: 768px) {
        margin-top: 10rem;
      }
    }
    .splin1, .spline2 {
      position: absolute;
      left: 28%;
      @media screen and (max-width: 1200px) {
        display: none;
      }
    }
    .splin1 {
      width: 100%;
      bottom: 20px;
    }
    .spline2 {
      top: 25px;
      left: 15%
    }
    a {
      align-self: center;
      &:hover {
        cursor: pointer;
      }
    }
    .get_touch {
      background-color: $colblue;
      color: white;
      border-radius: 50px;
      color: white;
      margin-left: auto;
      border: none;
      height: auto;
      padding: 1rem 4rem;
      @media screen and (max-width: 1400px) {
        padding: 1rem 3rem;
      }
      @media screen and (max-width: 768px) {
        font-size: 16px;
        padding: 0.75rem 2rem;
        margin: 1rem 0;
        margin-right: auto;
      }
    }
    @media screen and (max-width:768px) {
      padding: 3rem 0;
    }
  }
  #partners_sponsors{
    background-color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
    h5 {
      color: $colblue;
      font-weight: 900;
      font-size: 20px;
    }
    h2 {
      color: black;
      font-weight: 800;
      margin: 1.5rem 0;
      font-size: 40px;
      @media screen and (max-width: 768px) {
        margin: 0.7rem 0;
        font-size: 24px;
      }
    }
    .cards{
      margin: 3rem 0;
      display: grid;
      grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr; 
      grid-template-rows:  1fr 1fr 1fr; 
      grid-gap: 15px 15px;
      &_card{
        border-radius: 12px;
        height: 100px;
        background-color: #F5F5F5;
      }
      @media screen and (max-width: 768px) {
        grid-template-columns:  1fr 1fr; 
        grid-template-rows:  1fr 1fr;  
        &_card{
          &:nth-child(3n + 1) {
            display: none;
          }
        }       
      }
    }
    .box {
      background-image: url('../public/backgrounds/partners_poly.png');
      background-position: center;
      background-repeat: no-repeat;
      background-color: $colblue;
      margin: 1.5rem 0;
      border-radius: 24px;
      .blueColor {
        color: $colyel;
      }
      h4 {
        color: white;
        font-size: 44px;
        font-weight: 900;
      }
      p {
        color: rgba(255, 255, 255, 0.8)
      }
      img {
        width: 100%;
        height: 100%;
      }
      button {
        background-color: white;
        color: black;
        padding: 1rem 4rem;
        border-radius: 50px;
        margin: 2.5rem 0;
        margin-left: auto;
        border: none;
        @media screen and (max-width: 768px) {
          font-size: 16px;
          padding: 0.75rem 2rem;
          margin-top: 2.5rem;
          margin-bottom: 0;
        }
      }
      @media screen and (max-width: 768px) {        
        border-radius: 12px;
        h4 {
          font-size: 24px;
          text-align: center;
        }
        .button{
          text-align: center;
        }
      }    
        
    }
  }
}
